<div class="flex flex-col min-h-screen bg-gray-50">
  <!-- Navbar -->
  <app-navbar></app-navbar>
  
  <!-- Main content area -->
  <div class="flex flex-1 relative">
    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    
    <!-- Main content -->
    <main 
      class="flex-1 transition-all duration-300 ease-in-out"
      [class.lg:ml-[260px]]="!isMobile()"
      [class.ml-0]="isMobile()">
      
      <!-- Content wrapper -->
      <div class="p-4 sm:p-6 lg:p-8">
        <!-- Breadcrumb or page header can go here -->
        
        <!-- Router outlet for child routes -->
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
